/***************** media queriy *************************************/
/*-------- Big tablet view -------------*/
@media only screen and (max-width: 1024px){

}

/*-------- tablet view -------------*/
@media only screen and (max-width: 991px){

}

/*---------- landscape mobile view -------------*/
@media only screen and (max-width: 767px){

	/*sidebar menu*/
	.side-navbar {
		width: 100%;
	    position: relative;
	    top: auto;
		left: auto;
		bottom: auto;
	}
	.campaign-wizard-setting {
		position: relative;
		bottom: auto;
	}
	.sidebar-copyright {
		position: relative;
		bottom: 0;
		font-size: 16px;

	}
	.compaign-right-content-main {
	    margin-left: 0;
	}

	
	

/*---------- portrait mobile view -------------*/
@media only screen and (max-width: 480px){
	
	.campaign-wizard-right-content {
		width: 100%;
	}

}
}